html{
    background: linear-gradient(rgb(153, 30, 153), rgb(9, 212, 87));
}

body{
    padding: 5%;
    height: 100vh;
    justify-content: center;
}

 .box{
    background:black;
    color:#fff;
    padding:20px 0px 20px 20px;
    width:400px;
    margin:20px auto;
    border:3px dashed white;
    border-radius:70px 0;
 }

 h1{
    color: white;
    font-size: large;
    text-align: center;
}

label{
    color: white;
}

button{
    color: aquamarine;
    background-color: blueviolet;
}