* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', Times, serif;
}

:root{
    scroll-behavior: smooth;
}

.header {
    background: linear-gradient(to top, #f1f6f3, #33b658);
}



.sidebar ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 2px solid #0b7038;
    border-bottom: 2px solid #0b7038;
    border-right: 2px solid #0b7038;
    border-left: 2px solid#0b7038;
    transition: all 0.5s ease;
    text-decoration: none;
}

.sidebar ul li {
    list-style: none;
}

ul li:hover a {
    padding-left: 100px;
    background: #0b7038;
    color: white;
}

.main_content {
    margin: 5px;
    padding: 20px;
}

body {
    background-image: linear-gradient(to bottom, #33b640, #f3f7f3);
}

.deskripsi {
    text-align: justify;
    font-size: 18px;
    line-height: 18px;
}

h1{
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

p {
    margin-bottom: 3px;
    letter-spacing: 1.5px;
    line-break: 1px;
    line-height: 18px;
    font-size: 18px;
    padding: 10px;
}
 
ul li {
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

ol li {
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

span {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}

.biodata {
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    align-items: center;
}

.tugas {
    padding: 20px;
    text-align: justify;
    font-size: 18px;
}

.catatan {
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    column-rule-color: #0b7038;
}


footer {
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}
